* {
    margin: 0;
    padding: 0;
    /* font-family:; */
}

body {
    background-color: rgb(239, 237, 290);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
}
h1{
    color: rgb(69, 65, 65);
}
.dvb{
   margin: 2px;
   font-family:'Lucida Sans';
   font-weight: bold;
    font-size: 20px;
    color: rgb(36, 35, 35);
}
.container {
    margin-top: 3px;
     margin-bottom: 2%;
    background-color: rgb(239, 237, 290);
    box-shadow: 3px 3px 3px gray, -3px -3px 3px white;
    border-radius: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    width: 300px;
    height: 400px;
}

.input {
    background-color: rgb(239, 237, 290);
    box-shadow: inset -3px -3px 5px 1px white, inset 3px 3px 5px 1px rgb(146, 143, 143);
    border: none;
    user-select: none;
    font-size: 35px;
    height: 50px;
    width: 90%;
    text-align: right;
    border-radius: 10px;
}

.allbtn {

    margin-top: 15px;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    user-select: none;
    margin: 5px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid;
    border: none;
    cursor: pointer;
    background-color: rgb(239, 237, 290);
    box-shadow: 3px 3px 5px 1px rgb(107, 107, 107), -3px -3px 5px 2px rgb(255, 255, 255);
    transition:transform 2s;
}
 button:hover{
        transform:scale(10);
     
 }
.input:focus{
    outline:none;
}
 @media screen and (max-width:800px){
    button{
        cursor:default;
    }
     h1{
         margin-top:60px;
     }
   }
#ac {
    background-color: greenyellow;
}

#c {
    background-color: rgba(9, 255, 214, 0.874);
}

.op {
    background-color: rgb(71, 255, 114);
}

#equal {
     color: white;
    background-color: rgb(3, 24, 255);
}
sup{
     font-size: 17px;
}
